*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    max-width: 1200px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
nav button{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.signup p{
    max-width: 500px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px rgb(88, 81, 81);
}
.signup form{
    display: inline;
    margin-top: 20px;
}
.signup form input{
    width: 300px;
    line-height: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.signup form button{
    height: 30px;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.icons .icon{
    display: block;
    text-align: center;
    margin: 10px;
}
.icons .icon img{
    width: 50px;
    height: 50px;
}
.contents{
    display: block;
}
.contents .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents .item img{
    width: 50%;
    height: 40vh;
}
.contents .item .detail{
    width: 50%;
    text-align: justify;
    padding: 50px;
    box-sizing: border-box;
}
.contents .item:nth-child(2){
    flex-direction: row-reverse;
}

.users{
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
}
.users .user{
    margin: 0;
    text-align: center;
}
.users .user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed rgb(82, 179, 114);
}
footer{
    display: flex;
    height: 10vh;
}
footer .foot-left{
    display: block;
}
footer ul{
    list-style: none;
    padding: 20px 0 0;
}
.foot-left .menu {
    height: 20px;
    width: 100%;
}
.foot-left .menu li{
    float: left;
    color: rgb(53, 51, 190);
    padding: 0 10px 0 0;
}
.foot-left p{
    font-size: 12px;
}
footer .foot-right{
    display: flex;
}
footer .foot-right li{
    padding: 10px;
    float: left;
}
@media screen and (max-width:620px) {
    .icons, .item, .users{
        flex-direction: column;
        height: 100%;
    }
    .contents .item:nth-child(2){
        flex-direction: column;
    }
    .contents .item img{
        width: 100%;
    }
    .contents .item .detail{
        width: 100%;
    }
    .users .user img{
        width: 200px;
        height: 200px;
    }
    .users .user{
        margin-top: 20px;
    }
    .signup{
        height: 50vh;
    }
    .signup p{
        padding: 10px;
        text-align: center;
    }
    .signup form{
        display: block;
    }
    .signup form input,.signup form button{
        width: 100%;
        margin: 5px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}
